.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
*.Rproj
.DS_Store

# Suppress folders
input_data/*
clean_data/*
output_dfs/*


output_coda/*
models/convergence/*
models/inits/*
plots/*

# git sub repo
archive/*
archive
scripts/archived/*
models/archived/*

output_dfs_old/*
models/convergence_old/*
plots_old/*

scripts/04_poster_output.R
